/* hier kannst du deine HTML Tags eintragen
eine Übersicht über alle Eigenschaften gibt es hier: https://wiki.selfhtml.org/wiki/CSS/Schnell-Index*/

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "STARWARS";
  src: url("font/STARWARS.eot?") format("eot"),
    url("font/STARWARS.woff") format("woff"),
    url("font/STARWARS.ttf") format("truetype"),
    url("font/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
}
body {
  background-image: url("https://cdn.discordapp.com/attachments/945345760415866960/945677678109929503/unknown.png");
}
h1,
h2,
h3,
h4,
label {
  color: white;
  font-family: STARWARS;
}

div {
  color: white;
}

#app {
  margin: 0 auto;
  max-width: 500px;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
  font-family: STARWARS;
  color: rgb(210, 166, 0);
  font-weight: bolder;
}
.headlineFragen {
  text-align: center;
  margin-bottom: 50px;
  font-family: STARWARS;
  color: rgb(210, 166, 0);
  text-decoration: underline;
  font-weight: bolder;
}
.logo {
  display: flex;
  justify-content: center;
}
.eingabefelder {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.start {
  height: 40px;
  min-width: 110px;
  font-weight: bolder;
  font-family: STARWARS;
  background-color: rgb(210, 165, 0);
  border: none;
  font-size: 25px;
  border-radius: 5px;
}
.infotext {
  height: 350px;
  width: 280px;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-family: STARWARS;
  line-height: 2;
}
.antworten {
  height: 150px;
  width: 280 px;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  font-size: 40;
  border: 2px solid rgb(219, 160, 0);
  font-family: STARWARS;
}
.namensfeld {
  background-color: rgb(210, 166, 0);
  border: 2px solid rgb(210, 166, 0);
  border-radius: 6px;
  font-weight: bolder;
}

.namensfeld::placeholder,
.namensfeld {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.ära {
  background-color: rgb(210, 166, 0);
  border: 2px solid rgb(210, 166, 0);
  border-radius: 7px;
  font-weight: bolder;
}
.ära::placeholder,
.ära {
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.Frage {
  color: rgb(210, 166, 0);
  font-family: STARWARS;
  text-align: center;
}

#error {
  font-weight: 700;
  text-align: center;
  font-family: STARWARS;
  font-size: 20px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: rgb(210, 166, 0);
  color: #000;
  top: 9px;
  height: 20px;
  width: 20px;
  border: 0;
  cursor: pointer;
  margin-right: 7px;
  margin-bottom: 5px;
  outline: none;
  border-radius: 40px;
  border: 1px solid rgb(210, 166, 0);
}
input[type="radio"]:checked::before {
  position: absolute;
  font-size: 14px;
  left: 6px;
  top: -0;
  font-weight: 700;
  content: "\02143";
  transform: rotate(40deg);
}
